<%- include('partials/header.ejs') %>
    <div class="bg-body-bg flex flex-col flex-grow items-center justify-center">
        <%- include('partials/form.ejs') %>
    </div>
<%- include('partials/footer.ejs') %>